{% extends 'base.html.twig' %}

{% block title %}Mon panier - Mon P'tit Matin{% endblock %}

{% block content %}

<div class="mb-5 ms-4 mt-4">
    <h1>Mon panier</h1>
    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.    
</div> 
{% set orderId = app.session.get('current_order_id') %}

  {% if cart|length > 0 %} 
    <div class="container">
      <div class="d-flex justify-content-center">
        <table class="table mx-auto">
          <thead class="table-dark">
            <tr class="text-center">
              <th scope="col">Produits</th>
              <th scope="col"></th>
              <th scope="col">Quantité</th>
              <th scope="col">Prix</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% set total = null %} 
            {% set compteur = 0 %}
            {% for formule in cart %}      
             <tr>
              <td class="text-center align-middle"><img src="/uploads/{{ formule.formule.formule.illustration }}" alt="{{ formule.formule.formule.title}}" height="75px"></td>
              <td class ="align-middle">
                {{ formule.formule.formule.title }} <br><i>(
                  {% for produit in formule.product.product %}
                 
                  {{ produit.name }} x {{ formule.formule.quantity }},
                  {% endfor %}  )</i>
              </td>
              <td class="text-center align-middle">
              <a href="{{ path('app_decrease_quantity_to_cart', {'orderId' : formule.orderId}) }}">
                -
              </a>
              {{ formule.formule.quantity }}
              <a href="{{ path('app_add_quantity_to_cart', {'orderId' : formule.orderId}) }}">
                +
              </a>
              </td>
              <td class="text-center align-middle">{{ (formule.formule.formule.price / 100) |number_format(2, ',', '.') }} €</td>
              <td class="text-center align-middle">{{ ((formule.formule.formule.price * formule.formule.quantity) / 100) |number_format(2, ',', '.') }} €</td>
              <td class='align-middle '>
                <a href="{{ path('app_delete_to_cart', { 'orderId' : formule.orderId }) }}">
                  <img src="{{ asset('assets/img/supprimer.png')}}" height="18px" alt="Supprimer mon produit">
                </a>
              </td>
            </tr>
              {% set total = total + (formule.formule.formule.price * formule.formule.quantity) %}
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="mt-3">
          <div class="text-end">
              <b>Nombre de formule :</b> {{ cart|length }}</br>
              <b>Livraison :</b>  
              {% for delivery in delivery %}
                {{ (delivery.price / 100) |number_format(2, ',', '.') }}€
                {% set livraison = (delivery.price / 100)  %}
              
               <br>
              <b>Sous total :</b> {{ (total / 100) |number_format(2, ',', '.') }} €</br>
              <b>Total de mon panier :</b> {{ ((total / 100) + livraison) |number_format(2, ',', '.') }} €
              {% endfor %}
              <br>
              <a href="{{ path('app_order') }}" class="btn btn-dark w-40p mt-3" id="validate-cart-btn">Valider mon panier</a>
          </div>
      </div>
    </div>
    
  {% else %}
    <hr>
    <p class="text-center"><b>Votre panier est vide</b></p>
  {% endif %}


<script>
document.getElementById('validate-cart-btn').addEventListener('click', function() {
    // Récupérer l'ID du créneau horaire sélectionné
    var selectedDeliveryTimeSlotId = document.getElementById('deliveryTimeSlots').value;

    // Ajouter l'ID du créneau horaire à l'URL du lien
    this.href = this.href + '?deliveryTimeSlotId=' + selectedDeliveryTimeSlotId;
});
</script>
{% endblock %}
