<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon p'tit matin!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
        <script src="{{ asset('build/vendor.js') }}" defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/mon-ptit-matin.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Acme&family=Architects+Daughter&family=Gloria+Hallelujah&family=Kalam:wght@300;400;700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Montserrat:wght@100;200;300;500&family=Poppins:wght@500&family=Protest+Revolution&family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Rubik&display=swap" rel="stylesheet">
        
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
        <script>

          document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
              initialView: 'dayGridMonth'
            });
            calendar.render();
          });

        </script>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        
    </head>
         



    <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand " href="{{ path('app_home') }}"><img src="{{asset('assets/img/logo.png')}}" alt="logo" id='logo'></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{path ('app_about_us')}}">A propos de nous |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{path ('app_product')}}">Nos formules |</a>
              </li>
                        <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{path ('app_producter')}}">Nos partenaires</a>
              </li>
            </ul>
            <div class="navbar-item-custom">
            {% if app.user %}
            <a href="{{path ('app_account')}}">Mon Compte <small></small></a>  |  <a href="{{path ('app_logout')}}">Déconnexion</a>
            {% else %}

            <a href="{{path ('app_login')}}">Connexion</a>  |  <a href="{{path ('app_register')}}">Inscription</a>
            {% endif %}
            </div><span class="opacity-0">ese</span>
            <a href="{{ path('app_cart') }}">
              <div class="cart">
              <img id='cart' src="{{asset('assets/img/cart.png')}}" alt="Mon panier" class="cart-icon">
                <img  class='cadeau' id='cadeau3' src="{{asset('assets/img/cadeau1.png')}}" alt="cadeau">
                <img  class='cadeau' id='cadeau1' src="{{asset('assets/img/cadeau3.png')}}" alt="cadeau">
                {% set nbCart = app.session.get('nb-cart') %}
              <div class="numbercart text-center opacity-1">{% if nbCart == null %} 0 {% else %}
                {{ nbCart }}{% endif %}</div></div>

            </a><span class="opacity-0">ee</span>
          </div>
        </div>
      </nav>
    </header>
        {% block content %}{% endblock %}
    
    
    
    <div class="footer mt-5">
  <footer class="foot py-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{{ path('app_home') }}" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="{{ path('app_producter') }}" class="nav-link px-2 text-body-secondary">Nos partenaires</a></li>
      <li class="nav-item"><a href="{{ path('app_contact') }}" class="nav-link px-2 text-body-secondary">Nous contacter</a></li>
      <li class="nav-item"><a href="{{ path('app_faq') }}" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="{{ path('app_about_us') }}" class="nav-link px-2 text-body-secondary">A propos de nous</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2025 Mon P'tit Matin, Inc</p>
  </footer>
</div>


  <script>
function checkWindowHeight() {
            var windowHeight = window.innerHeight;
            var bodyHeight = document.body.clientHeight;

            if (windowHeight >= bodyHeight) {
                // Si la hauteur de la fenêtre est supérieure ou égale à la hauteur du contenu
                // alors le pied de page est positionné en bas de la fenêtre
                document.querySelector('.foot').style.position = 'absolute';
            } else {
                // Sinon, il reste en position fixe
                document.querySelector('.foot').style.position = 'inherit';
            }

        }

        // Vérifie la hauteur de la fenêtre au chargement de la page
        checkWindowHeight();

        // Vérifie la hauteur de la fenêtre à chaque redimensionnement
        window.addEventListener('resize', checkWindowHeight);
  </script>
    </body>
</html>
